{% load static %}


<style>
    #banner-text {
        position: absolute;
        width: 95%;
        left: 0;
        right: 0;
        top: 40%;
        bottom: 0;
        font-size: 5rem;
        color: white;
        line-height: 100%;
        animation-name: textMove;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }

    @keyframes textMove {
        from {
            margin-left: -10%;
        }

        to {
            margin-left: 5%;
        }
    }

    @media screen and (max-width: 500px) {
        #banner-text {
            width: 90%;
            top: 30vh;
            font-size: 3rem;
            animation-name: textMove;
            animation-duration: 3s;
            animation-fill-mode: forwards;
        }

        @keyframes textMove {
        from {
            margin-left: -100;
        }

        to {
            margin-left: 8%;
        }
    }
    }

    
</style>

<section class="banner-section">

    <img src="{{ site.imgBannerURL }}" style="height: 100vh; width: 100vw">
    <div id="banner-text">
        "{{ site.quote }}"
    </div>

</section>

<!--End Banner Section -->