{% load static %}

<!-- Main Footer -->
<footer class="main-footer style-three">

    <div class="auto-container">
        <!-- Footer Content -->
        <div class="footer-content">
            <div class="footer-logo"><a href="#"><img src="images/logo-2.png" alt=""></a></div>
            <ul class="footer-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <div class="copyright-text">© Copyright 2020 All Rights Reserved by <a href="index-2.html">Smart-Access</a>
            </div>
            <ul class="social-icon-one">
                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                <li><a href="#"><span class="fab fa-pinterest"></span></a></li>
                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- End Footer -->

</div>
<!--End pagewrapper-->


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/jquery.countdown.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<!-- Color Setting -->
<script src="{% static 'js/color-settings.js' %}"></script>

</body>

</html>